body {
    background: rgb(229, 241, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(32, 32, 32);
}

body, html {
    margin: 0;
    padding: 0;
    border: none;
}

nav {
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 0;
    top: 9em;
}

nav ul li {
    list-style-type: none;
}

header {
    background: rgb(204, 227, 255);
    display: flex;
    justify-content: space-between;
}

header img {
    width: 38%;
    height: 12%;
    margin: 0.5em 0em 0em 0.5em;
}

h1 {
    font-size: 1.5em;
    margin: 0.9em 0.8em;
    text-align: right;
}

h2 {
    font-size: 1.2em;
    margin: 1em;
    margin-left: 1.5em;
    margin-bottom: 1.5em;
}

h3 {
    font-size: 1em;
}

main img {
    width: 100%;
}

main p {
    text-align: left;
    margin-left: 2em;
    margin-right: 5em;
    margin-bottom: 3em;
    font-size: 0.9em;
}

main p a {
    background: white;
    font-size: 0.9em;
    padding: 1.8em;
    margin-left: 5.5em;
    border: 2.5px solid rgb(32, 32, 32);
    border-radius: 25px;
}

main ul li {
    list-style-type: none;
    margin-top: 3em;
}

main ul p {
    margin-left: 0;
    padding: 0.8em;
    border: 2.5px solid rgb(32, 32, 32);
    border-radius: 25px;
    background: white;
}

main ul a {
    color: white;
    background: rgb(0, 46, 102);
    font-size: 1.1em;
    padding: 0.6em;
    margin-left: 5em;
    border: 2.5px solid rgb(32, 32, 32);
    border-radius: 25px;
}

main ul a:link {
    color: white;
}

main ul a:visited {
    color: white;
}

main ul a:hover {
    color: white;
    background: rgb(32, 32, 32);
}

main ul a:active {
    color: white;
    background: rgb(32, 32, 32);
}

main a:link {
    color: black;
    text-decoration: none;
    transition: 200ms;
}

main a:visited {
    color: black;
    text-decoration: none;
}

main a:hover {
    color: white;
    text-decoration: none;
    background: rgb(0, 46, 102);
    transition: 200ms;
}

main a:active {
    color: white;
    text-decoration: none;
    background: rgb(0, 46, 102);
}

main section img {
    width: 40%;
    margin: 1em;
    border-radius: 25px;
}

section {
    margin-bottom: 2em;
}

section a {
    color: white;
    background: rgb(0, 46, 102);
    font-size: 1.1em;
    padding: 0.6em;
    margin-left: 7.2em;
    border: 2.5px solid rgb(32, 32, 32);
    border-radius: 25px;
}

section img:nth-of-type(3) {
    margin-bottom: 2.5em;
}

section img:nth-of-type(4) {
    margin-bottom: 2.5em;
}

section a:link {
    color: white;
    text-decoration: none;
}

section a:visited {
    color: white;
    text-decoration: none;
}

section a:hover {
    color: white;
    text-decoration: none;
    background: rgb(32, 32, 32);
}

section a:active {
    color: white;
    text-decoration: none;
    background: rgb(32, 32, 32);
}

footer {
    background: rgb(216, 216, 216);
    text-align: center;
    padding-top: 0;
    padding-bottom: 1em;
    margin: 0;
}

.footerfoto {
    width: 100%;
}

footer p {
    font-size: x-small;
}

footer a:link {
    color: black;
    text-decoration: none;
    transition: 200ms;
}

footer a:visited {
    color: black;
    text-decoration: none;
}

footer a:hover {
    color: rgb(0, 115, 255);
    text-decoration: none;
    transition: 200ms;
}

footer a:active {
    color: rgb(0, 115, 255);
    text-decoration: none;
}

body div h1 {
    text-align: center;
}

body div p {
    text-align: center;
    font-size: 0.8em;
    margin-top: 2em;
}

body div img {
    margin-left: 7.5em;
}
